<h2> Create New Program </h2>
<%= form_for(@program,:html =>{:class => 'form-stacked',:multipart => true},:url => 'create' ,:method => :post) do |f| %>
<%= render :template => "shared/notices" %>
<%= render :template => "shared/form-errors",:locals => {:form => @program} %>
<div class="field">
  <%= f.label :term_type, 'Type of term (semester or year)' %>
  <%= f.select :term_type,options_for_select([["SEMESTER","SEMESTER"],["YEAR","YEAR"]]) %>
</div>
<div class="field">
  <%= f.label :total_terms, 'Total no of terms' %>
  <%= f.text_field :total_terms  %>
</div>
<div class="field">
  <%= f.label :branch, 'Branch' %>
  <%= f.text_field :branch  %>
</div>
<div class="field">
  <%= f.label :degree, 'Degree' %>
  <%= f.text_field :degree  %>
</div>


<div class="actions">
 <%= f.submit "submit",:class => 'btn btn-large btn-primary' %>
</div>
  
<% end -%>
