<h2> Create New Program </h2>
<%= form_for(@program,:html =>{:class => 'form-stacked',:multipart => true},:url => 'create' ,:method => :post) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation" class = "alert-message error">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :term_type, 'term_type' %>
  <%= f.select :term_type,options_for_select([["SEMESTER","SEMESTER"],["YEAR","YEAR"]]) %>
</div>
<div class="field">
  <%= f.label :total_terms, 'total_terms' %>
  <%= f.text_field :total_terms  %>
</div>
<div class="field">
  <%= f.label :branch, 'branch' %>
  <%= f.text_field :branch  %>
</div>
<div class="field">
  <%= f.label :degree, 'degree' %>
  <%= f.text_field :degree  %>
</div>


<div class="actions">
 <%= f.submit "submit" %>
</div>
  
<% end -%>
