<% content_for :embed_signup_form do -%>
<%= form_for(@signup,:html =>{:class => 'form-stacked',:multipart => true},:url => 'register-institute' ,:method => :post) do |f| %>
  <% if @signup.errors.any? %>
    <div id="error_explanation" class = "alert-message error">
      <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this signup from being saved:</h2>

      <ul>
      <% @signup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :institute_name, 'institute_name' %>
  <%= f.text_field :institute_name %>
</div>
<div class="field">
  <%= f.label :institute_url, 'institute_url' %>
  <%= f.text_field :institute_url %>
</div>
<div class="field">
  <%= f.label :admin_email, 'admin email' %>
  <%= f.text_field :admin_email %>
</div>

<div class="field">
  <%= f.label :admin_pass, 'admin_pass' %>
  <%= f.password_field :admin_pass %>
</div>

<div class="field">
  <%= f.label :admin_pass_confirm, 'repeat_admin_pass' %>
  <%= f.password_field :admin_pass_confirm %>
</div>

<div class="actions">
 <%= f.submit "submit" %>
</div>
  
<% end -%>
  
<% end -%>
