<% content_for :left_bar do -%>
  <%= render 'left_bar' %>
<% end -%>
<% content_for :top_bar do -%>
  <%= render :template => "shared/top_bar" %>
<% end -%>
<% content_for :right_bar do -%>
  <%= render 'right_bar' %>
<% end -%>
<% content_for :main_content do -%>
 <h3> Please select a program to manage it </h3>
 <% for department in @departments -%>
<fieldset class='fieldset-style ui-corner-all'>
<legend class='legend-style'> <%= department.name %> </legend>

<table class="table table-striped">
<tbody>
    <% for program in department.programs -%>
    <tr>
    <td>
        <% program_name = program.degree + '-' + program.branch%>
        <%= link_to program_name , "/programs/"+program.id.to_s %>
    </td>
    </tr>    
    <% end -%>

</tbody>
</table>
 </legend>
 </fieldset>
 </br>
 <% end -%>

<% end -%>
<% content_for :breadcrumb do -%>
  <li class="active">
   <span class="divider">/</span>
   <i class="icon-asterisk"></i>
   Manage Departments
  </li>

  <% end -%>
