<% content_for :main_content do -%>
<%= form_for(@helper_registration,:html =>{:class => 'form-stacked',:multipart => true},:url => 'create' ,:method => :post) do |f| %>
<%= render :template => "shared/notices" %>
<%= render :template => "shared/form-errors",:locals => {:form => @helper_registration} %>
<div class="field">
  <%= f.label :email, 'email' %>
  <%= f.text_field :email %>
</div>
  <div class="field">
    <%= recaptcha_tags %>
    
  </div>


<div class="actions">
 <%= f.submit "submit" ,:class => 'btn btn-large btn-primary'%>
</div>
  
<% end -%>
  
<% end -%>
