<% content_for :main_content do -%>
<% if !@user.nil? %>
 <h2>Welcome <%= @user.email %><h2> 
 <h3> Please complete the details </h3>
<%= form_for(@helper_user_verify,:html =>{:class => 'form-stacked',:multipart => true},:url => ''+@user.one_time_login.to_s+'/update' ,:method => :post) do |f| %>
<%= render :template => "shared/notices" %>
<%= render :template => "shared/form-errors",:locals => {:form => @helper_user_verify} %>

<div class="field">
  <%= f.label :username, 'user name' %>
  <%= f.text_field :username %>
</div>

<div class="field">
  <%= f.label :pass, 'password' %>
  <%= f.password_field :pass %>
</div>
<div class="field">
  <%= f.label :pass_repeat, 'password confirm' %>
  <%= f.password_field :pass_repeat %>
</div>

<div class="actions">
 <%= f.submit "submit" ,:class => 'btn btn-large btn-primary'%>
</div>
  
<% end -%>
<% else %>
<p>Something went wrong.This url has already expired,or is invalid</p>

<% end %>
  
<% end -%>
