<%= form_for(@appfile,:html =>{:class => 'form-stacked',:multipart => true},:url => 'create' ,:method => :post) do |f| %>
  <%= render :template => "shared/notices" %>
  <%= render :template => "shared/form-errors",:locals => {:form => @appfile} %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  </br>
  <p>
    <%= f.file_field :content  %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

