<fieldset class='fieldset-style radius6'>
<legend class='legend-style'> Assignment </legend>
<div class="bifurcate">
  <div class="left-half">
    
    <table>

      <tr>
        <td><b>Title:</b></td>
        <td><%= @assignment.title %></td>
      </tr>

      <tr>
        <td><b>Total marks:</b></td>
        <td><%= @assignment.total_marks %></td>
      </tr>

      <tr>
        <td><b>Deadline:</b></td>
        <td><%= @assignment.deadline %></td>
      </tr>
      </table>
  </div>
  <div class="right-half">
    <p>
      <%= link_to "Assignment home", '/assignments/'+@assignment.id.to_s %>
    </p>
    <p>
      <%= link_to "Submit solution", '/courses/'+@course.id.to_s+'/assignments/'+@assignment.id.to_s+'/solve' %>
    </p>
    <p>
      <%= link_to "Evaluate this assignment", '/courses/'+@course.id.to_s+'/assignments/'+@assignment.id.to_s+'/evaluate' %>
    </p>
  </div>
  <div class="clearBoth">
    
  </div>
</div>
</br>

<p>
  <b>Detail:</b>
  </br>
  <%= @assignment.detail %>
</p>


<p>
  <b>Assignment file:</b>
  <% if !@assignment.scribd_id.nil? && @assignment.scribd_id.length > 0 %>
  <% content_for :embed_scribd_js do -%>
    <script>
    window.onload = function() {
    load_file(<%="'"+@assignment.scribd_id.to_s+"','"+@assignment.scribd_key.to_s+"'"%>);
    }
    </script> 
  <% end -%>
      <%= link_to_function "View File","load_file('"+@assignment.scribd_id.to_s+"','"+ @assignment.scribd_key.to_s+"')" %>
      <div id='embedded_flash'>
      <a>File Viewer</a>
      </div>
    
  <% else %>
    <%= link_to "Download", @assignment.assignment_file_url %>
  <% end %>
</p>

</fieldset>
