<fieldset class='fieldset-style radius6'>
<legend class='legend-style'> Assignment </legend>
<div class="bifurcate">
  <div class="left-half">
    
    <table>

      <tr>
        <td><b>Title:</b></td>
        <td><%= @assignment.title %></td>
      </tr>

      <tr>
        <td><b>Total marks:</b></td>
        <td><%= @assignment.total_marks %></td>
      </tr>

      <tr>
        <td><b>Deadline:</b></td>
        <td><%= @assignment.deadline %></td>
      </tr>
      </table>
  </div>
  <div class="right-half">
    <p>
      <%= link_to "Submit solution", '/courses/'+@course.id.to_s+'/assignments/'+@assignment.id.to_s+'/solve' %>
    </p>
     <% if !(get_user_type == 'STUDENT') %>
      <p>
        <%= link_to "Evaluate this assignment", '/courses/'+@course.id.to_s+'/assignments/'+@assignment.id.to_s+'/evaluate' %>
      </p>
     <% end %>
  </div>
  <div class="clearBoth">
    
  </div>
</div>
</br>

<p>
  <b>Detail:</b>
  </br>
  <%= @assignment.detail %>
</p>


<p>
  <b>Assignment file:</b>
  <% if !@assignment.appfile.nil? %>
    <%= render :template => "shared/appfile_link" ,:locals => {:appfile => @assignment.appfile} %>
  <div id='embedded_flash'></a></div>
    
  <% else %>
    <%= link_to "Download", @assignment.assignment_file_url %>

  <% end %>
</p>

</fieldset>
