<%= form_for(@assignment,:html =>{:class => 'form-stacked',:multipart => true},:url => 'create' ,:method => :post) do |f| %>

  <%= render :template => "shared/notices" %>
  <%= render :template => "shared/form-errors",:locals => {:form => @assignment} %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  </br>
  <div class="field">
    <%= f.label :detail %>
    <%= f.text_area :detail %>
  </div>
  </br>
  <div class="field">
    <%= f.label :total_marks %>
    <%= f.text_field :total_marks %>
  </div>
  </br>
  <div class="field">
    <%= f.file_field :assignment_file %>
  </div>
  </br>
  <div class="field">
    <%= f.label :deadline %>
    <%= f.date_select :deadline %>
  </div>
  </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
