<%= form_for(@assignment,:html =>{:class => 'form-stacked',:multipart => true},:url => 'create' ,:method => :post) do |f| %>

  <%= render :template => "shared/notices" %>
  <%= render :template => "shared/form-errors",:locals => {:form => @assignment} %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  </br>
  <div class="field">
    <%= f.label :detail %>
    <%= f.text_area :detail %>
  </div>
  </br>
  <div class="field">
    <%= f.label :total_marks %>
    <%= f.text_field :total_marks %>
  </div>
  </br>
  <%= f.fields_for :appfile do |af| -%>
    <div class="field">
      <%= af.label :name %>
      <%= af.text_field :name %>
    </div>

    <div class="field">
      <%= af.file_field :content %>
    </div>
  <% end -%>
  </br>
  <div class="field">
    <%= f.label :deadline %>
    <%= f.text_field :deadline,:class => "datetimepicker" %>
  </div>
  </br>
  <div class="actions">
    <%= f.submit nil,:class => 'btn btn-large btn-primary' %>
  </div>
<% end %>
