<% if @course.forum.nil? %>
  <h3>There is no forum present for this course as of now</h3> 
  <%= link_to "Create a new forum", '/courses/'+@course.id.to_s+'/forum/new' %>
<% else %>
  <h2><%= @course.forum.name  %></h2>
  </br>
  <h3><%= @course.forum.description  %></h3>
  <%= link_to "Create a new topic", '/courses/'+@course.id.to_s+'/forum/topics/new' %>
  </br>
  <% for topic in @course.forum.topics -%>
    <%= link_to topic.title, '/courses/'+@course.id.to_s+'/forum/topics/'+topic.id.to_s %>
    </br>
  <% end -%>
<% end %>
