<% content_for :left_bar do %>
        <div class="headofcourse"> <%=@course.name%> </div>
        <ul>
            <li><a href="/courses/<%=@course.id%>/announcements">Announcements</a></li>
            <li><a href="/courses/<%=@course.id%>/assignments">Assignments</a></li>
            <li><a href="/courses/<%=@course.id%>/channel">Live Channel</a></li>
            <li><a href="/courses/<%=@course.id%>/files">Files</a></li>
            <li><a href="/courses/<%=@course.id%>/groups">Groups</a></li>
            <li><a href="/courses/<%=@course.id%>/forum">Forum</a></li>
        </ul>
<% end -%>
