<% content_for :left_bar do %>
        <div class="well">
          <div id="bold-box-big">
            <a href="/courses/<%=@course.id%>/home"><%= @course.name%> </a>
          </div>
          <div class="clearfix"></div>
          <div id="bold-box-big">
            <a href="/courses/<%=@course.id%>/announcements">Announcements</a>
          </div>
          <div class="clearfix"></div>
          <div id="bold-box-big">
            <a href="/courses/<%=@course.id%>/assignments">Assignments</a>
          </div>
          <div class="clearfix"></div>
          <div id="bold-box-big">
            <a href="#about">Quizzes</a>
          </div>
          <div class="clearfix"></div>
          <div id="bold-box-big">
            <a href="/courses/<%=@course.id%>/channel">Live Channel</a>
          </div>
          <div class="clearfix"></div>
          <div id="bold-box-big">
            <a href="/courses/<%=@course.id%>/files">Files</a>
          </div>
          <div class="clearfix"></div>
          <div id="bold-box-big">
            <a href="#about">Forum</a>
          </div>
          <div class="clearfix"></div>
        </div>
<% end -%>
