<fieldset class='fieldset-style radius6'>
<legend class='legend-style'> Assignment Solution </legend>
<div class="bifurcate">
  <div class="left-half">
    
    <table>

      <tr>
        <td><b>Assignment</b></td>
        <td><%= @assignment.title %></td>
      </tr>

      <tr>
        <td><b>Marks Obtained:</b></td>
        <% if @assignment_solution.marks.nil? %>
          <td>Not assigned</td>
        <% else %>
        <td><%= @assignment.total_marks %></td>
        <% end %>
      </tr>

      <tr>
        <td><b>Submitted by</b></td>
        <td><%= get_user_by_user_id(@assignment_solution.user_id).username%></td>
      </tr>
      </table>
  </div>
  <div class="right-half">
  <p>
    <%= link_to "Edit this solution", "/courses/" + @course.id.to_s + "/assignments/" +@assignment.id.to_s+ "/solutions/" + @assignment_solution.id.to_s + '/edit' %>
  </p>
  <p>
    <%= link_to "Grade this solution", "/courses/" + @course.id.to_s + "/assignments/" +@assignment.id.to_s+ "/solutions/" + @assignment_solution.id.to_s + '/grade' %>
  </p>
  </div>
  <div class="clearBoth">
    
  </div>
</div>
</br>

<p>
  <div "style=width:100%">
    
  <b>Answer</b>
  </br>
  <%= @assignment_solution.content %>
  </div>
</p>


<p>
  <b>Assignment file:</b>
  <% if !@assignment_solution.appfile.nil? %>
    <%= render :template => "shared/appfile_link" ,:locals => {:appfile => @assignment_solution.appfile} %>
    <div id='embedded_flash'></a></div>
  <% else %>
    <%= link_to "Download", @assignment.assignment_file_url %>

  <% end %>
</p>

</fieldset>
