<h2> Select a teacher for this course </h2>
<%= form_for(@course_allocation,:html =>{:class => 'form-stacked',:multipart => true},:url => 'create' ,:method => :put) do |f| %>

  <%= render :template => "shared/notices" %>
  <%= render :template => "shared/form-errors",:locals => {:form => @course_allocation} %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select :user_id ,options_for_select(@teachers),{ :include_blank => true } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
