<h2> <b><%= @topic.title %> </b></h2>
<p> <%= @topic.description  %>  </p>
<b>Posts</b>
<% for post in @topic.posts -%>
  <p><%= post.content %></p></br>
<% end -%>


<h3>New post </h3>
<%= form_for(@post,:html =>{:class => 'form-stacked',:multipart => true},:url => @topic.id.to_s+'/create_post' ,:method => :post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end -%>
