<h2> <b><%= @topic.title %> </b></h2>
<p> <%= @topic.description  %>  </p>
<b>Posts</b>
<% for post in @topic.posts -%>
  <p><%= post.content %></p></br>
<% end -%>


<h3>New post </h3>
<%= form_for(@post,:html =>{:class => 'form-stacked',:multipart => true},:url => @topic.id.to_s+'/create_post' ,:method => :post) do |f| %>
  <%= render :template => "shared/notices" %>
  <%= render :template => "shared/form-errors",:locals => {:form => @post} %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end -%>
