<% content_for :left_bar do -%>
  <%= render 'left_bar_assignment'%>
<% end -%>
<% content_for :right_bar do -%>
  <%= render 'right_bar_assignment'%>
<% end -%>
<% content_for :top_bar do -%>
  <%= render :template => "shared/top_bar" %>
<% end -%>
<% content_for :main_content do -%>
  <%= render 'course_assignment_solution_form'%>
<% end -%>
<% content_for :breadcrumb do -%>
  <li>
   <span class="divider">/</span>
   <i class="icon-asterisk"></i>
   <%= link_to "Assignment", '/courses/'+@course.id.to_s+'/assignments/'+@assignment.id.to_s  %>
  </li>
  <li class="active">
   <span class="divider">/</span>
   <i class="icon-edit"></i>
   Solution
  </li>

  <% end -%>
