<% content_for :left_bar do -%>
  <%= render 'left_bar'%>
<% end -%>
<% content_for :right_bar do -%>
  <%= render 'right_bar'%>
<% end -%>
<% content_for :top_bar do -%>
  <%= render :template => "shared/top_bar" %>
<% end -%>
<% content_for :main_content do -%>
  <%= render 'topic_show'%>
<% end -%>
<% content_for :breadcrumb do -%>
  <li>
   <span class="divider">/</span>
   <i class="icon-comment"></i>
   <%= link_to "Forum",'/courses/'+@course.id.to_s+'/forum'  %>
  </li>
  <li class="active">
   <span class="divider">/</span>
   <i class="icon-th-list"></i>
   Topic
  </li>

  <% end -%>
