<h3> Please enter your message to connect with users </h3>
<%= form_tag('create',:method => :post,:class => 'form-stacked') do -%>
  <% if  !flash[:alert].nil?%>
    <div class="alert-message error">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <% if  !flash[:notice].nil?%>
    <div class="alert-message success">
      <%= flash[:notice] %>
    </div>
  <% end -%>

  <div class="field">
   <%= label_tag 'Subject'%> 
   <%= text_field_tag 'subject'%>
  </div>
   <%= label_tag 'Message'%> 
  <%= text_area_tag 'message' ,nil,:rows => 20  %>
  </br>

  <div class="field">
   <%= label_tag 'Email'%> 
   <%= check_box_tag 'email',nil ,true%>
  </div>

  <div class="field">
   <%= label_tag 'SMS'%> 
   <%= check_box_tag 'sms' %>
  </div>

  <div class="field">
   <%= label_tag 'Facebook'%> 
   <%= check_box_tag 'facebook'%>
  </div>

  <div class="field">
   <%= label_tag 'Twitter'%> 
   <%= check_box_tag 'twitter'%>
  </div>

  <%= submit_tag 'Send' ,:class => 'btn btn-large btn-primary'%>
<% end -%>
