		<div class="topSec">
			<div class="topLeft">
				<a href="<%=get_home_for_user%>" class="logo" title="cloudclass"><img src=<%= asset_path "cloudclass-logo.png" %> alt="cloudclass" /></a>
			</div>
			<div class="topRight">
				<div class="topRgtCont">
					<p>Welcome <%= session[:user_name] %></p>
					<ul class="topRgtLinks">
						<li class="frist"><a href="<%= '/users/'+current_user.id.to_s+'/profile'%>" title="Profile">Profile</a></li>
						<li><a href="/inbox" title="Inbox">Inbox</a></li>
						<li><a href="/logout" title="Logout">Logout</a></li>
					</ul>
				</div>
			</div>
			<div class="topMiddle">
				<div class="topMiddleLinks">
					<ul id="menu" class="menu">
						<li class="backbg"><a href="#" title="Courses"><span>Courses</span></a>
                 <ul>
                    <% courses = get_all_courses_for_user %>
                    <% for course in courses -%>
                          <li><span> <%= link_to course.name, '/courses/'+course.id.to_s+'/home',:class => "headingsubmenu" %> </span></li>
                    <% end -%>
                    <li><span><a href="" class="headingsubmenu">All Courses</a></span></li>
                 </ul>
           </li>
            <% if current_user.user_type == 'ADMIN' %>
              <%= render :template => 'shared/admin_nav' %>
            <% end %>
            <% if current_user.user_type == 'TEACHER' %>
              <%= render :template => 'shared/teacher_nav' %>
            <% end %>
            <%= render :template => 'shared/groups' %>

						<li><a href="/calendar" title="Grades" class="grades">Calendar</a></li>
                        
					</ul>
				</div>
			</div>
			<div class="spacer"></div>
		</div>
