<% content_for :left_bar do -%>
  <%= render 'left_bar' %>
<% end -%>
<% content_for :top_bar do -%>
  <%= render :template => "shared/top_bar" %>
<% end -%>
<% content_for :right_bar do -%>
  <%= render 'right_bar' %>
<% end -%>
<% content_for :main_content do -%>
  <h3> Search for content</h3>
  <%= form_tag('profile_update',:method => :put) do -%>
    <%= text_field_tag 'search'%>
  <% end -%>
  <div class="search_results">
   <div class="search_result">
     
   </div> 
  </div>  

<% end -%>
