<% content_for :left_bar do -%>
  <%= render 'left_bar' %>
<% end -%>
<% content_for :top_bar do -%>
  <%= render :template => "shared/top_bar" %>
<% end -%>
<% content_for :right_bar do -%>
  <%= render 'right_bar' %>
<% end -%>
<% content_for :main_content do -%>
  <h3> Search for content</h3>
  <%= form_tag('/library',:method => :post) do -%>
    <%= text_field_tag 'search'%>
  <% end -%>
  <% if !@content_videos.nil? %>
  <% if @content_videos.size == 0 %>
    <h2> Sorry no results found</h2>
  <% else %>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered data_table" style="width:100%">
<thead>
  <tr>
    <th> Video </th>
    <th> Topic </th>
    <th> Description </th>
  </tr>
</thead>
<tbody>
  <% for video in @content_videos -%>
    <tr>
      <td> <a href="<%=video.url%>" target="_blank">
      <img src="<%=get_thumbnail_from_video(video.url)%>" width="120px" height="120px" border="0"/>
      </a>
      </td>
      <td> <%=video.topic%> </td>
      <td> <%=video.course%> ,<%=video.branch%>,<%= video.credits%>,NPTEL</td>
    </tr>
  <% end -%>
</tbody>



</table>


  <% end -%>
  <% end %>

<% end -%>
