<body>
	<!--wrapper starts -->
	<div class="wrapper">
		<!--top section starts -->
		<div class="topWrapper">
			   <div class="topSec">
				<div class="topLeft">
					<a href="/" class="homelogo" title="cloudclass"><img src=<%= asset_path "home-logo.jpg" %> alt="cloudclass" /></a> 
				</div>
				<div class="topRight">
					<ul class="topHomeLinks">
		        <!--temp comment

						<li><a href="#" title="Signup">Signup</a></li>
						<li><a href="#" title="Blog">Blog</a></li>
						<li><a href="#" title="Pricing">Pricing</a></li>
            -->
					</ul>
					<div class="spacer"></div>
				</div>
				<div class="spacer"></div>
			</div>
		</div>
		<!--top section ends -->
		<!--body content wrapper starts -->
		<div class="mainWrapper">
			<!--body content starts -->
			<div class="bodyWrapper">
				   <div class="bodyPlaceholder">
					<!--content left panel starts -->
					<div class="bodyLeft">
            <div class="launch-image">
                   <img class="rounded" src="<%= asset_path "course-home-1.jpg"%>" alt="" width="400px">
            </div>
            <div class="launch">
              <a class="btn btn-large btn-warning" href="http://ccdemo.cloudclass.co.in/login">Launch the demo</a>   
            </div>

					</div>
					<!--content left panel ends -->
					<!--content right panel starts -->
					<div class="bodyRight">
						<div class="bodyRightContainer">
						<h2> Login Details </h2>
            <h3>Administrator</h3>
            <p>email: admin@ccdemo.com </p>
            <p>password: admin </p>

            <h3>Teacher</h3>
            <p>email: teacher@ccdemo.com </p>
            <p>password: teacher </p>

            <h3>Student</h3>
            <p>email: student@ccdemo.com </p>
            <p>password: student </p>

						</div>
					</div>
					<!--content right panel ends -->
					<div class="spacer"></div>
				</div>
			</div>
			<!--body content ends -->
		</div>
		<!--body content wrapper ends -->
		<!--footer starts -->
		<div class="footerWrapper">
			<div class="fotoerTop">
			    <div class="fixwrap"> 
				  <div class="fotoerTopContaienr">
				
					<div class="footerLeft">
						<h6>Company</h6>
            <%= render :template => "shared/footer-link" %>
					</div>
					<div class="footerMiddle">
						<h6>Follow Us</h6>
						<div class="footerSocialLink">
							<a href="https://twitter.com/#!/cloudclasshq" target="_blank"><img src=<%= asset_path "footer-twitter.jpg" %> alt="twitter" /></a>
							<a href="https://plus.google.com/104492345380250356346" target="_blank"><img src=<%= asset_path "footer-google+.jpg" %> alt="google+" /></a>
							<a href="https://www.facebook.com/pages/CloudClass/120111348114938" target="_blank"><img src=<%= asset_path "footer-facebook.jpg" %> alt="facebook" /></a>
							<a href="mailto:gauravt@cloudclasshq.com" target="_blank"><img src=<%= asset_path "footer-cont.jpg" %> alt="contact" class="noRghtMargin" /></a>
						</div>
						<h6 class="small">Stay Informed</h6>
						<div class="footerMsgField">
							<label><input name="" type="text" value="your email" onFocus="if(this.value=='your message')this.value='';" onBlur="if(this.value=='')this.value='your message';"  /></label>
							<input name="" type="button" class="goBtn" />
						</div>
					</div>
					<div class="footerRight">
						<h2>Try Our Online Demo Now</h2>
						<p class="footertrytheBtn"><a href="#" title="Try the Demo">Try the Demo</a></p>
					</div>
					
				
				</div>
				</div>
			</div>
			<div class="footerBtm"><p>&copy; Cloudclass 2012. All Rights Reserved.</p></div>
		</div>
		<!--footer ends -->
	</div>
	<!--wrapper ends -->
</body>
