<body>
	<!--wrapper starts -->
	<div class="wrapper">
		<!--top section starts -->
		<div class="topWrapper">
			   <div class="topSec">
				<div class="topLeft">
					<a href="/" class="homelogo" title="cloudclass"><img src=<%= asset_path "home-logo.jpg" %> alt="cloudclass" /></a> 
				</div>
				<div class="topRight">
					<ul class="topHomeLinks">
		        <!--temp comment

						<li><a href="#" title="Signup">Signup</a></li>
						<li><a href="#" title="Blog">Blog</a></li>
						<li><a href="#" title="Pricing">Pricing</a></li>
            -->
					</ul>
					<div class="spacer"></div>
				</div>
				<div class="spacer"></div>
			</div>
		</div>
		<!--top section ends -->
		<!--body content wrapper starts -->
		<div class="mainWrapper">
			<!--body content starts -->
			<div class="bodyWrapper">
				   <div class="bodyPlaceholder">
           <h1>Privacy Policy</h1>
           <p>
            We collect the email addresses of those who communicate with us via email, aggregate information on what pages consumers access or visit, and information volunteered by the consumer (such as survey information and/or site registrations). The information we collect is used to improve the content on the CloudClass App website and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except to provide products or services you've requested, when we have your permission, or under the following circumstances:
</br>
We may transfer information about you if CloudClass App is acquired by or merged with another company. In this event, CloudClass App will notify you before information about you is transferred and becomes subject to a different privacy policy. 
           </p>
          </br>
          <h2>Information Gathering and Usage</h2>
          <p>
            When you register for CloudClass App we ask for information such as your name, company name, email address, billing address and credit card information. Members who sign up for the free account are not required to enter a credit card.
</br>

CloudClass App uses collected information for the following general purposes: products and services provision, billing, identification and authentication, services improvement, contact and research.
          </p>
          <h2>Data Storage</h2>
          <p>
          CloudClass App uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run CloudClass App. Although CloudClass App owns the code, databases, and all rights to the CloudClass App application, you retain all rights to your data.
          </p> 
          <h2>Disclosure</h2>
          <p>
            CloudClass App may disclose personally identifiable information under special circumstances, such as to comply with subpoenas or when your actions violate the Terms of Service.
          </p>
          <h2> Changes </h2>
          <p>
            CloudClass App may periodically update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your CloudClass App primary account holder account or by placing a prominent notice on our site 
          </p>

					<div class="spacer"></div>
				</div>
			</div>
			<!--body content ends -->
		</div>
		<!--body content wrapper ends -->
		<!--footer starts -->
		<div class="footerWrapper">
			<div class="fotoerTop">
			    <div class="fixwrap"> 
				  <div class="fotoerTopContaienr">
				
					<div class="footerLeft">
						<h6>Company</h6>
            <%= render :template => "shared/footer-link" %>
					</div>
					<div class="footerMiddle">
						<h6>Follow Us</h6>
						<div class="footerSocialLink">
							<a href="https://twitter.com/#!/cloudclasshq" target="_blank"><img src=<%= asset_path "footer-twitter.jpg" %> alt="twitter" /></a>
							<a href="https://plus.google.com/104492345380250356346" target="_blank"><img src=<%= asset_path "footer-google+.jpg" %> alt="google+" /></a>
							<a href="https://www.facebook.com/pages/CloudClass/120111348114938" target="_blank"><img src=<%= asset_path "footer-facebook.jpg" %> alt="facebook" /></a>
							<a href="mailto:gauravt@cloudclasshq.com" target="_blank"><img src=<%= asset_path "footer-cont.jpg" %> alt="contact" class="noRghtMargin" /></a>
						</div>
						<h6 class="small">Stay Informed</h6>
						<div class="footerMsgField">
							<label><input name="" type="text" value="your email" onFocus="if(this.value=='your message')this.value='';" onBlur="if(this.value=='')this.value='your message';"  /></label>
							<input name="" type="button" class="goBtn" />
						</div>
					</div>
					<div class="footerRight">
						<h2>Try Our Online Demo Now</h2>
						<p class="footertrytheBtn"><a href="#" title="Try the Demo">Try the Demo</a></p>
					</div>
					
				
				</div>
				</div>
			</div>
			<div class="footerBtm"><p>&copy; Cloudclass 2012. All Rights Reserved.</p></div>
		</div>
		<!--footer ends -->
	</div>
	<!--wrapper ends -->
</body>
