<body>
	<!--wrapper starts -->
	<div class="wrapper">
		<!--top section starts -->
		<div class="topWrapper">
			   <div class="topSec">
				<div class="topLeft">
					<a href="/" class="homelogo" title="cloudclass"><img src=<%= asset_path "home-logo.jpg" %> alt="cloudclass" /></a> 
				</div>
				<div class="topRight">
					<ul class="topHomeLinks">
		        <!--temp comment

						<li><a href="#" title="Signup">Signup</a></li>
						<li><a href="#" title="Blog">Blog</a></li>
						<li><a href="#" title="Pricing">Pricing</a></li>
            -->
					</ul>
					<div class="spacer"></div>
				</div>
				<div class="spacer"></div>
			</div>
		</div>
		<!--top section ends -->
		<!--body content wrapper starts -->
		<div class="mainWrapper">
			<!--body content starts -->
			<div class="bodyWrapper">
				   <div class="bodyPlaceholder">
            <h1> Terms of Service </h1>
            <p>
              By using the cloudclass.co.in website ("Service"), services of CloudClass ("CloudClass"), you are agreeing to be bound by the following terms and conditions ("Terms of Service").
            </p>
            </br>
            <p>
              CloudClass reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at http://www.cloudclass.co.in/terms.
            </p>
            </br>
            <p>
              Violation of any of the terms below will result in the termination of your account. While CloudClass prohibits such conduct and Content on the Service, you understand and agree that CloudClass cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk. 
            </p>
            <h2> Standard Account Terms </h2>
            <div style="padding-left:20px">
            <ol>
<li>You must provide your legal full name, a valid email address, and any other pertinent information requested in order to complete the signup process.</li>
<li>You must be a human. Accounts registered by "bots" or other automated methods are not permitted.</li>
<li>Your login may only be used by one(1) person - a single login shared by multiple people shall no be permitted.</li>
<li>You are responsible for maintaining the security of your account and password. CloudClass cannot and will not be liable for any loss of information or security breaches that result from your failure to comply with this security obligation.</li>
<li>You are hereby considered fully responsible for all content posted and any and all activity that occurs under your account, even when certain content is posted by others who have accounts under your account.</li>
<li>Only one person may maintain a free account.</li>
<li>You may not use the Service for any illegal activities.</li>
<li>You must not, throughout your use of the Service, violate any applicable laws in your jurisdiction, and this is including but not limited to copyright laws.</li>
</ol>
</div>
        <h2>Payment, Refunds, Upgrading and Downgrading Terms</h2>
            <div style="padding-left:20px">
            <ol>
<li>A valid credit card is required for paying accounts. Free accounts are not required to provide a credit card number.</li>
<li>If you initially sign up for a Studio, Agency or Corporate Account, and you don't cancel that account within 30 days, you will be billed monthly starting 30 days after your account was created.</li>
<li>Upgrading from the free plan to any paying plan will effectively end your free trial. When you upgrade, you will be billed for your first month immediately.</li>
<li>The Service bills in advance on a monthly basis and is non-refundable. There will be no refunds or credits for partial months of service or upgrade/downgrade refunds. We will not make any exceptions, however extreme the circumstance.</li>
<li>All fees exclude any taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties.</li>
<li>When you upgrade or downgrade your plan level, the credit card provided will be automatically charged the new plan's rate at the beginning of the next billing cycle.</li>
<li>CloudClass does not accept any liability for such loss of content, features or capacity of account due to upgrading or downgrading your plan.</li>
<li>Your account subscription fees will be charged in USD (United States Dollars).</li>
<li>Services will be delivered immediately upon successful payment of fees.</li>
</ol> 
            </div>

      <h2>Cancellation and Termination </h2>
            <div style="padding-left:20px">
            <ol>
<li>It is your responsibility to ensure that your account has been properly cancelled. An arbitrary email requesting an account to be cancelled is not considered definitive. You can cancel your account at any time by selecting the billing tab on the top left side of the application.</li>
<li>All of your Content will be immediately deleted from the Service should you initiate cancellation. This information is irretrievable once deleted.</li>
<li>Your cancellation will be effective immediately once initiated. You will not be charged again from that point forth.</li>
<li>CloudClass has the right to suspend or terminate your account and refuse any and all current or future use of the Service for any reason at any time.</li>
<li>CloudClass reserves the right at any time, with or without notice, to modify or discontinue the Service, temporarily or permanently.</li>
<li>CloudClass reserves the right to change the prices of any and all services upon 30 days notice.</li>
</ol> 
            </div>
      <h2>General Conditions </h2>
            <div style="padding-left:20px">
               
        
<ol>
<li>Your use of the Service is at your own risk.</li>
<li>Technical support is only provided to paying account holders.</li>
<li>You acknowledge and understand that CloudClass uses third party vendors to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
<li>You must not modify another website so as to falsely imply that it is associated with CloudClass.</li>
<li>Unless with explicit permission from CloudClass, you agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service.</li>
<li>We may remove Content and Accounts containing Content that we determine in our sole discretion are violating the terms of service, including but not limited to content deemed unlawful, offensive, threatening, libelous, defamatory, pornographic, explicitly obscene, generally objectionable or violating any party's intellectual property.</li>
<li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any CloudClass employee, member, or officer will result in immediate account termination and potential criminal charges.</li>
<li>You must not transmit any worms, viruses or any other code of a destructive and furtive nature.</li>
<li>CloudClass does not guarantee in any capacity that the service will meet your specific needs.</li>
<li>CloudClass does not guarantee that the service will be uninterrupted, secure or error-free, that the results that may be obtained from the use of the service will be definitively accurate or reliable at all times.</li>
<li>CloudClass cannot guarantee that any errors in the Service will be corrected at any time.</li>
<li>You hereby and explicitly understand and agree that CloudClass is not liable for any direct, indirect, incidental, special, consequential or exemplary damages, including (but not restricted to) damages for loss of profits, data or other intangibles, by means of the use or the inability to use the service, unauthorized access to your data, or any other matter relating directly to the Service.</li>
<li>The failure of CloudClass to aggressively enforce any right or provision of the Terms of Service shall not be construed as a waiver of such right or provision. The Terms of Service outlines the entire agreement between you and CloudClass and supersedes any prior agreements between you and CloudClass including prior iterations of the Terms of Service.</li>
<li>Any questions about the Terms of Service should be sent to <a href="mailto:support@cloudclass.co.in">support@cloudclass.co.in</a>.</li>
</ol> 
              </div>

        
					  <div class="spacer"></div>
				</div>
			</div>
			<!--body content ends -->
		</div>
		<!--body content wrapper ends -->
		<!--footer starts -->
		<div class="footerWrapper">
			<div class="fotoerTop">
			    <div class="fixwrap"> 
				  <div class="fotoerTopContaienr">
				
					<div class="footerLeft">
						<h6>Company</h6>
            <%= render :template => "shared/footer-link" %>
					</div>
					<div class="footerMiddle">
						<h6>Follow Us</h6>
						<div class="footerSocialLink">
							<a href="https://twitter.com/#!/cloudclasshq" target="_blank"><img src=<%= asset_path "footer-twitter.jpg" %> alt="twitter" /></a>
							<a href="https://plus.google.com/104492345380250356346" target="_blank"><img src=<%= asset_path "footer-google+.jpg" %> alt="google+" /></a>
							<a href="https://www.facebook.com/pages/CloudClass/120111348114938" target="_blank"><img src=<%= asset_path "footer-facebook.jpg" %> alt="facebook" /></a>
							<a href="mailto:gauravt@cloudclasshq.com" target="_blank"><img src=<%= asset_path "footer-cont.jpg" %> alt="contact" class="noRghtMargin" /></a>
						</div>
						<h6 class="small">Stay Informed</h6>
						<div class="footerMsgField">
							<label><input name="" type="text" value="your email" onFocus="if(this.value=='your message')this.value='';" onBlur="if(this.value=='')this.value='your message';"  /></label>
							<input name="" type="button" class="goBtn" />
						</div>
					</div>
					<div class="footerRight">
						<h2>Try Our Online Demo Now</h2>
						<p class="footertrytheBtn"><a href="#" title="Try the Demo">Try the Demo</a></p>
					</div>
					
				
				</div>
				</div>
			</div>
			<div class="footerBtm"><p>&copy; Cloudclass 2012. All Rights Reserved.</p></div>
		</div>
		<!--footer ends -->
	</div>
	<!--wrapper ends -->
</body>
