<body>
	<!--wrapper starts -->
	<div class="wrapper">
		<!--top section starts -->
		<div class="topWrapper">
			   <div class="topSec">
				<div class="topLeft">
					<a href="/" class="homelogo" title="cloudclass"><img src=<%= asset_path "home-logo.jpg" %> alt="cloudclass" /></a> 
				</div>
				<div class="topRight">
					<ul class="topHomeLinks">
		        <!--temp comment

						<li><a href="#" title="Signup">Signup</a></li>
						<li><a href="#" title="Blog">Blog</a></li>
						<li><a href="#" title="Pricing">Pricing</a></li>
            -->
					</ul>
					<div class="spacer"></div>
				</div>
				<div class="spacer"></div>
			</div>
		</div>
		<!--top section ends -->
		<!--body content wrapper starts -->
		<div class="mainWrapper">
			<!--body content starts -->
			<div class="bodyWrapper">
				   <div class="bodyPlaceholder">
					<!--content left panel starts -->
					<div class="bodyLeft">
						<div class="homeBanner">
						
						   <!-- CAROUSEL START HERE -->
              <div id="myCarousel" class="carousel slide" style="width:100% height:150px">
                <div class="carousel-inner">
                  <div class="item active">
                   <img class="rounded" src="<%= asset_path "course-home-1.jpg"%>" alt="">
                  </div>
                  <div class="item">
                   <img class="rounded" src="<%= asset_path "course-home-2.jpg"%>" alt="">
                  </div>
                  <div class="item">
                   <img class="rounded" src="<%= asset_path "course-home-3.jpg"%>" alt="">
                  </div>
                </div>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
							<!-- CAROUSEL END HERE -->
							
						</div>
						<h1>Why CloudClass</h1>
						<p class="homeTxt">CloudClass is a simple  learning management framework designed for Indan Universities and Colleges</p>
						<p class="homeTxt">With CloudClass there is no software to install .All your courses would be hosted on dedicated servers so that you can focus on creating great course content for your students. All tasks for learning management are completely  automated.</p>
						<p class="homeTxt">CloudClass provides you with a state of the art realtime collaboration suite which helps you and your students have a great online learning experience.</p>
            <div style="padding-left:40px">
						  <p class="signupBtn" ><a href="#" title="Signup">Sign up Now</a></p>
            </div>
					</div>
					<!--content left panel ends -->
					<!--content right panel starts -->
					<div class="bodyRight">
						<div class="bodyRightContainer">
						
							<div class="bodyRightContainerHdr">
								<h2>CloudClass</h2>
								<h3>Simple Learning Management <br />for your institution</h3>
								<p class="tryitnow"><a href="#" title="Try it Now">Try it Now</a></p>
							</div>
							
							<ul class="courseMangement">
								<li>
									<div class="coursesBoxes noTopPad">
										<div class="onlineTestBoxLeft">
											<div class="imagePanel"><img src=<%= asset_path "home-icon1.png" %> alt="" /></div>
											<div class="courseContPanel">
												<h4>Collaborative Learning</h4>
												<p>Collaborate together on projects ,assignment. Encourages team work and shared learning</p>
											</div>
										</div>
										<div class="onlineTestBoxRight">
											<div class="imagePanel"><img src=<%= asset_path "home-icon2.png" %> alt="" /></div>
											<div class="courseContPanel">
												<h4>Online Assignment</h4>
												<p>Upload assignments online and track the progress of students<br />
												</p>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="coursesBoxes">
										<div class="onlineTestBoxLeft">
											<div class="imagePanel"><img src=<%= asset_path "home-icon3.png" %> alt="" /></div>
											<div class="courseContPanel">
												<h4>Calendar</h4>
												<p>Create and manage events,stay informed of the upcoming activities, share your schedule with others </p>
											</div>
										</div>
										<div class="onlineTestBoxRight">
											<div class="imagePanel"><img src=<%= asset_path "home-icon4.png" %> alt="" /></div>
											<div class="courseContPanel">
												<h4>Live Channels</h4>
												<p>Built in web conferencing system allows teachers and students to interact remotely</p>
											</div>
										</div>
									</div>
								</li>
								<li class="noBg">
									<div class="coursesBoxes noBtmPad">
										<div class="onlineTestBoxLeft">
											<div class="imagePanel"><img src=<%= asset_path "home-icon5.png" %> alt="" /></div>
											<div class="courseContPanel">
												<h4>Groups</h4>
												<p>Create groups of students for assignments,projects</p>
											</div>
										</div>
										<div class="onlineTestBoxRight">
											<div class="imagePanel"><img src=<%= asset_path "home-icon6.png" %> alt="" /></div>
											<div class="courseContPanel">
												<h4>Reports</h4>
												<p>Monitor course and student activity with our real-time reporting.</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
							
						</div>
					</div>
					<!--content right panel ends -->
					<div class="spacer"></div>
				</div>
			</div>
			<!--body content ends -->
		</div>
		<!--body content wrapper ends -->
		<!--footer starts -->
		<div class="footerWrapper">
			<div class="fotoerTop">
			    <div class="fixwrap"> 
				  <div class="fotoerTopContaienr">
				
					<div class="footerLeft">
						<h6>Company</h6>
						<ul class="footerLink">
							<li><a href="#" title="About Us">About Us</a></li>
							<li><a href="#" title="Newsroom">Newsroom</a></li>
							<li><a href="#" title="Support">Support</a></li>
							<li><a href="#" title="Privacy">Privacy</a></li>
							<li><a href="#" title="Terms">Terms</a></li>
						</ul>
					</div>
					<div class="footerMiddle">
						<h6>Follow Us</h6>
						<div class="footerSocialLink">
							<a href="https://twitter.com/#!/cloudclasshq" target="_blank"><img src=<%= asset_path "footer-twitter.jpg" %> alt="twitter" /></a>
							<a href="https://plus.google.com/104492345380250356346" target="_blank"><img src=<%= asset_path "footer-google+.jpg" %> alt="google+" /></a>
							<a href="https://www.facebook.com/pages/CloudClass/120111348114938" target="_blank"><img src=<%= asset_path "footer-facebook.jpg" %> alt="facebook" /></a>
							<a href="mailto:gauravt@cloudclasshq.com" target="_blank"><img src=<%= asset_path "footer-cont.jpg" %> alt="contact" class="noRghtMargin" /></a>
						</div>
						<h6 class="small">Stay Informed</h6>
						<div class="footerMsgField">
							<label><input name="" type="text" value="your email" onFocus="if(this.value=='your message')this.value='';" onBlur="if(this.value=='')this.value='your message';"  /></label>
							<input name="" type="button" class="goBtn" />
						</div>
					</div>
					<div class="footerRight">
						<h2>Try Our Online Demo Now</h2>
						<p class="footertrytheBtn"><a href="#" title="Try the Demo">Try the Demo</a></p>
					</div>
					
				
				</div>
				</div>
			</div>
			<div class="footerBtm"><p>&copy; Cloudclass 2012. All Rights Reserved.</p></div>
		</div>
		<!--footer ends -->
	</div>
	<!--wrapper ends -->
</body>
