<h2> Compose a new message </h2>
<%= form_for(@message,:html =>{:class => 'form-stacked',:multipart => true},:url => 'create' ,:method => :post) do |f| %>
  <%= render :template => "shared/notices" %>
  <%= render :template => "shared/form-errors",:locals => {:form => @message} %>

  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.check_box :email,{checked:true} %>
  </div>

  <div class="field">
    <%= f.label :sms %>
    <%= f.check_box :sms %>
  </div>

  <div class="field">
    <%= f.label :facebook %>
    <%= f.check_box :facebook %>
  </div>

  <div class="field">
    <%= f.label :twitter %>
    <%= f.check_box :twitter %>
  </div>

  <div class="actions">
    <%= f.submit nil,:class => 'btn btn-large btn-primary'%>
  </div>
<% end %>
