<h2> Please reset your password  here</h2>
<%= form_for(@helper_user_verify,:html =>{:class => 'form-stacked',:multipart => true},:url => 'resetpass_update' ,:method => :post) do |f| %>
  <%= render :template => "shared/notices" %>
  <%= render :template => "shared/form-errors",:locals => {:form => @helper_user_verify} %>

  <div class="field">
    <%= f.label :pass %><br />
    <%= f.password_field :pass %>
  </div>
  <div class="field">
    <%= f.label :pass_repeat %><br />
    <%= f.password_field :pass_repeat %>
  </div>
  <div class="actions">
    <%= f.submit "Submit",:class => 'btn btn-large btn-primary' %>
  </div>
<% end %>
