<% content_for :left_bar do -%>
  <%= render 'inbox_left_bar' %>
<% end -%>
<% content_for :top_bar do -%>
  <%= render :template => "shared/top_bar" %>
<% end -%>
<% content_for :right_bar do -%>
  <%= render 'inbox_right_bar' %>
<% end -%>
<% content_for :main_content do -%>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped data_table" style="width:100%">
    <thead>
    <tr>
      <th>To</th>
      <th>Message Subject</th>
    </tr>
    <thead>
    <tbody>

    <% for message in @messages -%>
      <tr>
        <td><%= get_user_by_user_id(message.to_user).username%> </td>
        <td><%=message.subject %></td>
      </tr>
    <% end -%>
    </tbody>

  </table>
<% end -%>
<% content_for :breadcrumb do -%>
  <li class="active">
   <span class="divider">/</span>
   <i class="icon-list-alt"></i>
   Sent messages
  </li>

  <% end -%>
