<% content_for :institute_name do -%>
  <%= get_current_institute.name %>
<% end -%>
<% content_for :embed_login_form do -%>
<%= form_for(@login,:html =>{:class => 'form-stacked',:multipart => true},:url => 'loguser' ,:method => :post) do |f| %>
  <% if @login.errors.any? %>
    <div id="error_explanation" class = "alert alert-error">
      <a class="close">×</a>
      <font color="black">
      <strong> 
        There were errors with your submission 
      </strong>

      <ul>
      <% @login.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      </font>
    </div>
  <% end %>

<div class="loginFldCont">
  <%= f.label :email, 'Email' %>
  <%= f.text_field :email %>
</div>

<div class="loginFldCont">
  <%= f.label :password,'Password' %>
  <%= f.password_field :password %>
</div>

  

<div class="loginBtm">
    <div class="actions">
      <%= f.submit "submit" ,:class => "loginBtn" %>
    </div>
			<ul>
  		<li class="frist"><a href="#" title="or Signup"><span>or Signup</span></a></li>
	  	<li><a href="#" title="Forgot Password?">Forgot Password?</a></li>
		 </ul>
</div>
<% end -%>
  
<% end -%>
