<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CloudClass</title>
  <%= stylesheet_link_tag "login" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>

<body>
	<!--wrapper starts -->
	<div class="wrapper">
		<!--top section starts -->
		<div class="topWrapper">
		   <div class="fixwrap">
			<div class="loginTopSec">
				<a href="#" title="cloudclass" class="logoinLogo"><!--<img src="images/login-logo.gif" alt="cloudclass"  />-->
                <%=image_tag('logo.gif')%> </a>
                <span class="xyz"><span><%= yield :institute_name%></span></span></span></span>
			</div>
		   </div>
		</div>
		<!--top section ends -->
		<!--body content wrapper starts -->
		<div class="mainWrapper">
			<!--body content starts -->
			<div class="bodyWrapper">
			   <div class="fixwrap">
						<!--login section starts -->
						<div class="loginPlaceholder">
							<div class="loginContainer">
								<div class="loginWhiteBox">
									<!--<div class="loginHdr"><h1>Login</h1></div>-->
									<div class="loginForm">
                   <%= yield :embed_login_form%> 
									</div>
								</div>
							</div>
						</div>	
						<!--login section ends -->
			   </div>
			</div>
			<!--body content ends -->
		</div>
		<!--body content wrapper ends -->
	</div>
	<!--wrapper ends -->
</body>
</html>
