<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CloudClass</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
  <%= stylesheet_link_tag "signup" %>
  <style type="text/css">
   input, textarea, select, .uneditable-input { 
    height: 26px;
    width: 510px;
   }
   label, input, button, select, textarea {
    font-size: 22px;
   }
   .signup-form {
    padding-left: 73px;
    padding-top: 20px; 
   } 
    h2 {
    font-size: 30px; 
   }
  </style>   
  <%= javascript_include_tag "application" %>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= csrf_meta_tag %>

  </head>

  <body>
	<div class="wrapper">
		<!--top section starts -->
		<div class="topWrapper">
			   <div class="topSec">
				<div class="topLeft">
					<a href="index.html" class="homelogo" title="cloudclass"><img src=<%= asset_path 'home-logo.jpg' %> alt="cloudclass" /></a> 
				</div>
				<div class="topRight">
					<ul class="topHomeLinks">
					</ul>
					<div class="spacer"></div>
				</div>
				<div class="spacer"></div>
			</div>
		</div>
		<!--top section ends -->
		<!--body content wrapper starts -->
		<div class="mainWrapper">
      <div class="container">
        <h2>Get Started with CloudClass for your institution</h2>
        <div class="hero-unit">
          <div class="signup-form">
            <%= yield :embed_signup_form %>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  </body>
</html>
